.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
}
.container span {
  margin-bottom: -50px;
}

.calculatorStepOne {
  width: 80%;
  max-width: 600px; /* Limiting maximum width */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calculatorStepOne h2 {
  text-align: center;
  margin-bottom: 40px;
}

.gender {
  margin-bottom: 10px;
}

.gender .input {
  display: flex;
  gap: 20px;
  align-items: center;
}

.gender .input input[type="radio"] {
  margin-right: 5px;
}

.redBorder {
  border: 1px solid red;
}

.redText {
  color: red;
}

.whiteText {
  color: white;
}
