.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
  gap: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50em;
  height: 30em;
}
.login form input {
  width: 30em;
  height: 3em;
}
.login button {
  margin-bottom: 10px;
}
.login span {
  margin-top: -2.5em;
  text-align: center;
  margin-right: 30px;
  margin-left: 30px;
}
